/tutorial-examples-master/persistence/address-book/target/
/labs/lab-1/Lab1App/target/
/labs/lab-2/Lab2App/target/
/labs/lab-3/Lab3App/target/
/assignments/assignment-1/SpriteLucas/nbproject/private/
/assignments/assignment-1/SpriteLucas/SpriteLucas-war/nbproject/private/
/assignments/assignment-1/SpriteLucas/SpriteLucas-ejb/nbproject/private/
/assignments/assignment-1/SpriteLucas/SpriteLucas-ejb/build/
/assignments/assignment-1/SpriteLucas/SpriteLucas-ejb/dist/
/assignments/assignment-1/SpriteLucas/SpriteLucas-war/build/
/assignments/assignment-1/SpriteLucas/SpriteLucas-war/dist/
/assignments/assignment-1/SpriteLucas/build/
/assignments/assignment-1/SpriteLucas/dist/
/assignments/assignment-1/SpriteClientLucas/nbproject/private/
/assignments/assignment-1/SpriteClientLucas/build/
/assignments/assignment-1/SpriteClientLucas/dist/
/assignments/assignment-1/AppUser/target/

/assignments/assignment-2/SpriteLucas/nbproject/private/
/assignments/assignment-2/SpriteLucas/SpriteLucas-war/nbproject/private/
/assignments/assignment-2/SpriteLucas/SpriteLucas-ejb/nbproject/private/
/assignments/assignment-2/SpriteLucas/SpriteLucas-ejb/build/
/assignments/assignment-2/SpriteLucas/SpriteLucas-ejb/dist/
/assignments/assignment-2/SpriteLucas/SpriteLucas-war/build/
/assignments/assignment-2/SpriteLucas/SpriteLucas-war/dist/
/assignments/assignment-2/SpriteLucas/build/
/assignments/assignment-2/SpriteLucas/dist/
/assignments/assignment-2/SpriteClientLucas/nbproject/private/
/assignments/assignment-2/SpriteClientLucas/build/
/assignments/assignment-2/SpriteClientLucas/dist/
/assignments/assignment-2/AppUser/target/